header {
	border: 1px solid #ccc;
	background: #f2f2f2;
	padding: 10px;
}

nav {
	border: 1px solid red ;
	background: #f2f2f2;
	padding: 10px;
}

footer {
	background: #CCC;
}

article {
	background: orange;
	padding: 5px;
}

section {
	border: 1px dotted #fff;
}

aside {
	background: blue;
}